[user]
	name = Tomek Paczkowski
	email = tomek@hauru.eu
[alias]
	st = status
	di = diff
	dis = diff --cached
	co = checkout
	ci = commit --verbose
        br = branch
	up = pull --rebase
        puff = pull --ff
        makeeverythingok = reset --hard
	update = pull --rebase
	last = cat-file commit HEAD
	uncommit = reset --soft HEAD^
	unstash = stash pop
	diffstage = diff --cached
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	aa = add --all

[color]
	ui = true
[core]
	excludesfile = ~/.gitignore
	editor = vim
[branch]
	autosetupmerge = true
[push]
	default = current
