[user]
	name = Tomek Paczkowski
	email = tomek@hauru.eu
[alias]
	st = status
	di = diff
	co = checkout
	ci = commit --verbose
        br = branch
	up = pull --rebase
        makeeverythingok = reset --hard
	update = pull --rebase
	last = cat-file commit HEAD
	uncommit = reset --soft HEAD^
	unstash = stash pop
	diffstage = diff --cached
	switch = !legit switch \"$@\"
	branches = !legit branches
	sprout = !legit sprout \"$@\"
	unpublish = !legit unpublish \"$@\"
	harvest = !legit harvest \"$@\"
	sync = !legit sync \"$@\"
	publish = !legit publish \"$@\"
	graft = !legit graft \"$@\"

[color]
	ui = true
[core]
	excludesfile = ~/.gitignore
[branch]
	autosetupmerge = true
[push]
	default = current
