[user]
	name = Tomek Paczkowski
	email = tomek@hauru.eu
[alias]
	st = status
	update = pull --rebase
	up = pull --rebase
	ci = commit --verbose
	di = diff
	last = cat-file commit HEAD
	co = checkout
	uncommit = reset --soft HEAD^
	unstash = stash pop
	diffstage = diff --cached
[color]
	ui = true
[core]
	excludesfile = /home/oinopion/.gitignore
[branch]
	autosetupmerge = true
[push]
	default = current
